{
  "extends": "standard",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "valid-jsdoc": ["warn"],
    "max-len": ["error", 100],
    "arrow-parens": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-shadow": ["error", {
      "builtinGlobals": true, "hoist": "all", "allow": [
        "cb", "done", "resolve", "reject"
      ]
    }],
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "no-inner-declarations": [2, "both"],
    "vars-on-top": 2
  }
}
