# Loacal temp files
__temp*
__old

# IDE
.idea
.c9revisions
*.sublime*
tsconfig.tsbuildinfo

# Env
.env

# Dependency directories
node_modules
typings
package-lock.json

# Local dependency directory
!/examples/node_modules
!/examples

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Test code coverage
coverage
lib-cov
.nyc_output

#Other
*.DS_Store
